@using LegionSociety.Contacts.Web.Models.Contacts
@model DetailModel
@{
    var Contact = Model.Contact;
    ViewBag.Title = "Contacts";
}
<div class="container-fluid">

    <div class="container">
        <!-- Title -->
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> @Contact.FirstName @Contact.LastName</h2>
        </div>

        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">
                <!-- Details -->
                <div class="card mb-4">
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td colspan="2">Email Address</td>
                                    <td class="text-end"><a href="mailto:@Contact.EmailAddress">@Contact.EmailAddress</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Role</td>
                                    <td class="text-end">@Contact.Role</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Member Since</td>
                                    <td class="text-end">@Contact.MembershipStartDate.Year</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="h6">Bio</h3>
                                @Contact.Bio
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Payment -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="h6">Home Address</h3>
                                <address>
                                    @Contact.Address1<br>
                                    @(string.IsNullOrWhiteSpace(Contact.Address2) ? string.Empty : $"{Contact.Address2}<br />")
                                    @Contact.City, @Contact.State &nbsp;@Contact.PostalCode<br />
                                    <abbr title="Phone">P:</abbr> @Contact.PhoneNumber
                                </address>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="h6">Dietary Restrictions</h3>
                                <p>
                                    @Contact.DietaryRestrictions
                                </p>
                                @if(Contact.DateOfBirth.HasValue)
                                {
                                <h3 class="h6">Birth Date</h3>
                                <p>
                                    @Contact.DateOfBirth.Value.ToShortDateString()
                                </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Customer Notes -->
                <div class="card mb-4">
                    <!-- Shipping information -->
                    <div class="card-body">
                        <h3 class="h6">Family Members</h3>
                        @foreach(var familyMember in Contact.FamilyMembers)
                        {
                            @familyMember.Value <br />
                        }
                    </div>
                </div>
                @if(Model.CanManageContact)
                {
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="h6">Functions</h3>
                        <a href="@Url.ActionLink("Edit", "Contacts", new { id = Contact.Id })" class="btn btn-info">Edit</a>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>