@using LegionSociety.Contacts.Web.Models.Contacts
@model IndexModel
@{
    ViewData["Title"] = "Contact List";
}
@{
    <p>Hello @(Model.EmailAddress)!</p>
    <table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
        </tr>
    </thead>
    @foreach(var contact in Model.Contacts)
    {
        <tr>
            <td>@Html.ActionLink("View", "Details", new { Id = contact.Id })</td>
            <td>@contact.FirstName</td>
            <td>@contact.LastName</td>
            <td>@contact.EmailAddress</td>
        </tr>    
    }
    </table>


}
